<ion-segment [scrollable]="true" (ionChange)="onDaySelected()" [(ngModel)]="daySelected">
  <ion-segment-button value="0">
    <ion-label>Mon</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-label>Tue</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>Wed</ion-label>
  </ion-segment-button>
  <ion-segment-button value="3">
    <ion-label>Thu</ion-label>
  </ion-segment-button>
  <ion-segment-button value="4">
    <ion-label>Fri</ion-label>
  </ion-segment-button>
  <ion-segment-button value="5">
    <ion-label>Sat</ion-label>
  </ion-segment-button>
  <ion-segment-button value="6">
    <ion-label>Sun</ion-label>
  </ion-segment-button>
</ion-segment>