<div class="group_container">
  <div class="group_title">
    <h2 [textContent]="groupName"></h2>
  </div>
  <ion-slides pager="true" [options]="slideOptions">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <h1>Image Here</h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <h1>Image Here</h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <h1>Image Here</h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</div>