<ion-grid>
    <ion-row>
        <ion-col sizeXs="12" sizeMd="8">
            <div class="graph_container">
                <canvas #graph></canvas>
            </div>
        </ion-col>
        <ion-col class="flex_center">
            <ion-row>
                <ion-col sizeXs="4" sizeMd="12">
                    <app-tracker-nutrient [key]="'protein'" [value]="macros.protein"></app-tracker-nutrient>
                </ion-col>
                <ion-col sizeXs="4" sizeMd="12">
                    <app-tracker-nutrient [key]="'carbs'" [value]="macros.carbs"></app-tracker-nutrient>
                </ion-col>
                <ion-col sizeXs="4" sizeMd="12">
                    <app-tracker-nutrient [key]="'fat'" [value]="macros.fats"></app-tracker-nutrient>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-grid>