<ion-grid>
    <ion-row>
        <ion-col size="8">
            <div class="graph_container">
                <canvas #graph></canvas>
            </div>
        </ion-col>
        <ion-col>
            <app-tracker-nutrient [key]="'protein'" [value]="macros.protein"></app-tracker-nutrient>
            <app-tracker-nutrient [key]="'carbs'" [value]="macros.carbs"></app-tracker-nutrient>
            <app-tracker-nutrient [key]="'fat'" [value]="macros.fats"></app-tracker-nutrient>
        </ion-col>
    </ion-row>
</ion-grid>