<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- Name -->
  <ion-item class="name_input">
    <ion-label position="fixed">Food name</ion-label>
    <ion-input placeholder="Enter food name" [(ngModel)]="food.name"></ion-input>
  </ion-item>
  <ion-item *ngIf="food.image">
    <img [src]="food.image" alt="Food Image">
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <app-nutrient-button 
          [nutrientName]="'protein'" 
          [value]="food.macros.protein"
          (changeValue)="onMacrosChanged('protein', $event.value)"></app-nutrient-button>
      </ion-col>
      <ion-col size="4">
        <app-nutrient-button 
          [nutrientName]="'carbs'" 
          [value]="food.macros.carbs"
          (changeValue)="onMacrosChanged('carbs', $event.value)"></app-nutrient-button>
      </ion-col>
      <ion-col size="4">
        <app-nutrient-button 
          [nutrientName]="'fats'" 
          [value]="food.macros.fats"
          (changeValue)="onMacrosChanged('fats', $event.value)"></app-nutrient-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- Quantity -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label position="fixed" slot="end">Weight</ion-label>
        <ion-input type="number" placeholder="Enter weight" [min]="1" [(ngModel)]="food.weight" (input)="onWeightChanged($event)"></ion-input>
      </ion-col>
      <ion-col>
        <ion-label position="fixed" slot="end">Quantity</ion-label>
        <ion-input type="number" placeholder="Enter quantity" value="1"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>