<ion-content class="ion-padding">
  <ion-modal [isOpen]="open" #modal>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Favourites</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="onClose()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-card *ngFor="let food of favourites" (click)="onAddFood()">
          <ion-card-content>
              <ion-grid>
                  <ion-row>
                      <ion-col size="10" class="name_container">
                          <h4>{{ food.text }}</h4>
                      </ion-col>
                      <ion-col class="icon_container">
                        <ion-icon name="heart"></ion-icon>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>