<ion-content class="ion-justify-content-center ion-align-items-center">
  <div class="setup_container">
    <ion-slides style="height: 90vh;">
      <!-- Slide 1 -->
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Gender & Age</ion-card-title>
            <ion-card-subtitle>Initial setup 1/3</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h2>Select your gender</h2>
            <p *ngIf="user.gender" [textContent]="user.gender" class="gender"></p>
            <ion-segment>
              <ion-segment-button value="default" (click)="selectGender('male')">
                <ion-icon name="man"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="segment" (click)="selectGender('female')">
                <ion-icon name="woman"></ion-icon>
              </ion-segment-button>
            </ion-segment>
            <h3>Choose your age</h3>
            <ion-item>
              <ion-label position="floating">Enter your age</ion-label>
              <ion-input type="number" [(ngModel)]="user.age"></ion-input>
            </ion-item>
            <h3>How would you like us to call you?</h3>
            <ion-item>
                <ion-label position="stacked">Your name</ion-label>
                <ion-input placeholder="Enter text" [(ngModel)]="user.name"></ion-input>
              </ion-item>
          </ion-card-content>
          <div class="button_margin">
            <ion-button 
              expand="block" 
              class="next_button" 
              (click)="nextSlide()">
              Next
              <ion-icon name="arrow-forward-sharp" slot="end"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-slide>
      <!-- Slide 2 -->
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Height & Weight</ion-card-title>
            <ion-card-subtitle>Initial setup 2/3</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item fill="solid">
              <ion-label position="floating">Height</ion-label>
              <ion-input type="number" [(ngModel)]="user.height"></ion-input>
              <ion-note slot="helper">Enter your current height in CM</ion-note>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Weight</ion-label>
              <ion-input type="number" [(ngModel)]="user.weight"></ion-input>
              <ion-note slot="helper">Enter your current weight in KG</ion-note>
            </ion-item>
          </ion-card-content>
          <div class="button_margin">
            <ion-button 
              expand="block" 
              class="next_button" 
              (click)="nextSlide()">
              Next
              <ion-icon name="arrow-forward-sharp" slot="end"></ion-icon>
            </ion-button>
          </div>
        </ion-card>
      </ion-slide>
      <!-- Slide 3 -->
      <ion-slide>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Activity & Goal</ion-card-title>
            <ion-card-subtitle>Initial setup 3/3</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <h3>Enter your activity</h3>
            <ion-list>
              <ion-item>
                <ion-select placeholder="Select weekly activity" [(ngModel)]="user.activity">
                  <ion-select-option value="sedentary">Sedentary (little or no exercise)</ion-select-option>
                  <ion-select-option value="lightly_active">Lightly active (1–3 days/week)</ion-select-option>
                  <ion-select-option value="moderatly_active">Moderately active (3–5 days/week)</ion-select-option>
                  <ion-select-option value="very_active">Very active (6–7 days/week)</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
            <h3>Choose your goal</h3>
            <ion-list>
              <ion-radio-group value="loose_weight" [(ngModel)]="user.goal">
                <ion-item>
                  <ion-label>Loose weight</ion-label>
                  <ion-radio slot="end" value="loose_weight"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Maintain weight</ion-label>
                  <ion-radio slot="end" value="maintain_weight"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Gain weight</ion-label>
                  <ion-radio slot="end" value="gain_weight"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
          <div class="button_margin">
            <ion-button 
              expand="block" 
              class="next_button" 
              (click)="nextSlide()">
              Continue
            </ion-button>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>
