<app-home-header></app-home-header>
<ion-content [fullscreen]="true">
    <div class="container">
        <h1 class="greeting">Здравей, {{username}}</h1>
        <app-day-selector></app-day-selector>
        <app-tracker [macros]="macros"></app-tracker>
        <app-workout-group
        [groupName]="'Тренировки'"
        [images]="['full_body_1.png', 'full_body_cardio_2.png', 'full_body_hell.png']"
        [slideOptions]="slideOpts"
        [margin]="false"></app-workout-group>
        <app-meal-history></app-meal-history>
        <app-weight-tracker></app-weight-tracker>
        <app-scan-food-barcode></app-scan-food-barcode>
    </div>
</ion-content>
