<app-home-header></app-home-header>
<ion-content>
    <div class="container">
        <app-workout-group 
        [groupName]="'Full body'"
        [slideOptions]="slideOpts"></app-workout-group>
        <app-workout-group 
        [groupName]="'Abs'"
        [slideOptions]="slideOpts"></app-workout-group>
        <app-workout-group 
        [groupName]="'Chest'"
        [slideOptions]="slideOpts"></app-workout-group>
        <app-workout-group 
        [groupName]="'Back'"
        [slideOptions]="slideOpts"></app-workout-group>
    </div>
</ion-content>