<app-home-header></app-home-header>
<ion-content>
    <div class="container">
        <app-workout-group 
        [groupName]="'Full body'"
        [images]="['full_body_1.png', 'full_body_cardio_2.png', 'full_body_hell.png']"
        [slideOptions]="slideOpts"></app-workout-group>
        <app-workout-group 
        [groupName]="'Abs'"
        [images]="['abs.png', 'abs_killer.png', 'home_abs.png']"
        [slideOptions]="slideOpts"></app-workout-group>
        <app-workout-group 
        [groupName]="'Arms'"
        [images]="['arm_routine.png', 'biceps_triceps.png', 'triceps.png']"
        [slideOptions]="slideOpts"></app-workout-group>
        <app-workout-group 
        [groupName]="'Back'"
        [slideOptions]="slideOpts"></app-workout-group>
    </div>
</ion-content>