<app-home-header></app-home-header>
<ion-content>
  <ion-grid class="fs flex_center">
    <div>
      <ion-row>
        <ion-col>
          <app-settings-button></app-settings-button>
        </ion-col>
        <ion-col>
          <app-settings-button></app-settings-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-settings-button></app-settings-button>
        </ion-col>
        <ion-col>
          <app-settings-button></app-settings-button>
        </ion-col>
      </ion-row>  
    </div>
  </ion-grid>
</ion-content>